.container {
    margin: 2em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;  /* Para alinear los elementos verticalmente */
    align-items: center;     /* Centrar los elementos horizontalmente */
    gap: .5em;
  }