.pie{
    display: flex;
    justify-content: center;
    background-color: var(--negro);
   margin-top: auto;
}
.pie h2{
    font-weight: 400;
    font-size: 18px;
    color: var(--blanco);
}
h2 img{
    width: 50px;
}